@model EmployeeCrud.Models.MyAccountModel
<div class="container">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-6">
                    <div class="form-group mb-2">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" placeholder="Name" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2 ">
                        <label class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Name@gmail.com" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2 ">
                        <label class="form-label">Mobile No</label>
                        <input type="text" class="form-control" placeholder="Phone" asp-for="Phone">
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group mb-2 ">
                        <label class="form-label">password</label>
                        <input type="text" class="form-control" placeholder="Password" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="Save" class="btn btn-primary margin-left " />
                <a type="button" class="btn btn-dark" asp-action="Index" asp-controller="Home">Back</a>
                <a type="button" class="btn btn-dark" asp-action="Login" asp-controller="Employee">Already have an account</a>
            </div>

        </div>

    </form>
</div>